.App {
  text-align: center;
  align-items: center;

  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #323c4e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .card-img-top {
  display: flex;
  align-items: center;
  
  
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 0.75;
  
}

.component {
  margin: 10px;
  border-radius: 10px;
  min-height: 100vh;
  background-image: url('bg-photo.jpeg');

}


.card {
  margin: 10px;
  border-radius: 10px;
  align-items: center;
  opacity: 0.75;
  
}

.card1 {
  margin: 10px;
  border-radius: 10px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}



p.calories {
  color: red;
  align-items: center;
}

p.ingredients {
  color: blue;
  align-items: center;
}

.h1 {
  position: absolute;
}

.files img {
  max-width: 75vh;
  max-height: 75vh;
  margin-bottom: 10px;
  margin-right: 10px;
  /* vertical-align: middle; */
}

.dropbox {
  min-height: 100vh;
  min-width: 100vh;
  margin: 20px auto;
  border: 2px dashed #ccc;
  border-radius: 20px;
}
